@font-face{
    src: url(fonts/PlaypenSans-VariableFont_wght.ttf);
    font-family: playpen;
}
@font-face {
    font-family: sofa;
    src: url(fonts/SofadiOne-Regular.ttf);
}

h1{
    font-family: playpen ;
}

p{
    font-family: sofa;
    font-size: 1em;
    font-style: italic;
}